@using System.Web.Mvc.Html
@using Umbraco.Web
@using hiredlincs.core
@model hiredlincs.core.RegisterHiredLincsModel;
@{
    Layout = "master.cshtml";
    //var registerModel = Members.CreateRegistrationModel();
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    var success = TempData["FormSuccess"] != null;
}


@{
    if (success)
    {
        <div class="alert alert-primary" role="alert">
            Registration succeeded
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Register</h5>
                        @using (Html.BeginUmbracoForm<RegisterHiredLincsController>("Register", null, new { @class = "form-signin" }))
                        {
                            @Html.ValidationSummary("registerModel", true)
                            <div class="form-label-group">
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Your Name" })
                                @Html.ValidationMessageFor(m => m.Name)
                            </div>
                            <div class="form-label-group">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Your Email" })
                                @Html.ValidationMessageFor(m => m.Email)
                            </div>
                            <div class="form-label-group">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                                @Html.ValidationMessageFor(m => m.Password)
                            </div>


                            <button class="btn btn-lg btn-primary btn-block text-uppercase">Register</button>
                        }


                    </div>
                </div>
            </div>
        </div>
    }
}


@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
}